body {
	font-family: monospace;
	font-size: 16px;
	cursor: url(https://all-other-usernames-were-taken.github.io/css/cur.cur), default;
	background-color: blue;
	color: white;
	top: 0px;
	margin: 0px;
	left: 0px;
}

.nav {
	position: fixed;
}

.nav_bar {
	position: fixed;
	top: 0px;
	margin: 0px;
	left: 0px;
	width: 100%;
	background-color: lightgrey;
	color: black;
	min-width: 54ch;
}

.nav_link {
	position: sticky;
	background-color: lightgrey;
	color: black;
	text-decoration: none;
}

.nav_link_highlighted {
	position: sticky;
	background-color: black;
	color: lightgrey;
	text-decoration: none;
}

.nav_title {
	background-color: lightgrey;
	color: black;
	text-align: center;
	position: fixed;
	top: 14pt;
}

.nav_line {
	background-color: blue;
	color: lightgrey;
	text-align: center;
	position: fixed;
	top: 14pt;
	width: 100%;
}

.body {
	z-index: -1;
	background-color: transparent;
	color: white;
	position:absolute;
	margin-left: 14pt;
	margin-right: 14pt;
	width: auto;
	word-break: break-word;
}

.foot {
	background-color: cyan;
	color: black;
	position: fixed;
	bottom: 0;
	width: 100vw;
	margin: 0px;
	height: 14pt;
}

.message {
	position: fixed;
	background-color: lightgrey;
	color: black;
	border: 1pt solid black;
	text-align: center;
	margin-left: 40vw;
	width: 20%;
	left: 24pt; /*dont ask me how this works*/
	/*margin-right: 40%;*/
	margin-top: 10%;
	vertical-align: middle;
}

a {	color: cyan;	}

