html {
  font-family: monospace;
  background-image: linear-gradient(black, purple);
}
.header_bar {
  width: 100%;
  text-align: center;
  position: sticky;
  top: 1%;
  
  background-color: lightgrey;
  opacity: 95%;
  border: 1px white solid;
  z-index: 2;
}

.content:not(:hover) {
  animation: header_ani 1s ease-in-out;
}

@keyframes header_ani {
    0% { transform: rotateX(0deg); }
  100% { transform: rotateX(360deg); }
}

h1 {
  color: white;
  text-shadow: .1em .1em black;
  background-color: rgba(0,0,255, 0.5);
}

h2 {
  color: white;
  text-shadow: .05em .05em black;
  background-color: rgba(0,0,255, .5);
}
.content {
  background-color: lightgrey;
  opacity: 90%;
  border: 1px white solid;
  text-align: center;
  max-width: 500pt;
  content-align: center;
  margin: auto;
}
a {
  color: darkblue;
}